[
  {
    "name": "${service_name}",
    "image": "${docker_registry}/${service_name}:${release_version}",
    "logConfiguration": {
      "logDriver": "awslogs",
      "options": {
        "awslogs-create-group": "true",
        "awslogs-region": "${aws_region}",
        "awslogs-group": "/ecs/${name_prefix}/${service_name}",
        "awslogs-stream-prefix": "ecs"
      }
    },
    "environment": [
      { "name": "JAVA_MEM_ARGS", "value": "${java_mem_args}" },
      { "name": "KAFKA_PRODUCER_TIMEOUT", "value": "${kafka_producer_timeout}" },
      { "name": "MAXIMUM_RETRIES", "value": "${maximum_retries}" }
    ],
    "healthCheck": {
      "command": ["CMD-SHELL", "curl --fail http://localhost:8081/healthcheck || exit 1"],
      "interval": 60,
      "timeout": 10,
      "retries": 3,
      "startPeriod": 60
    },
    "secrets": [
      { "name": "KAFKA_BROKER_ADDR", "valueFrom": "${order-notification-secret-kafka-broker-addr}"},
      { "name": "API_URL", "valueFrom": "${order-notification-secret-api-url}"},
      { "name": "CHS_API_KEY", "valueFrom": "${order-notification-secret-chs-api-key}"},
      { "name": "PAYMENTS_API_URL", "valueFrom": "${order-notification-secret-payments-api-url}"},
      { "name": "IS_ERROR_QUEUE_CONSUMER", "valueFrom": "${order-notification-secret-error-consumer}"},
      { "name": "EMAIL_SENDER_ADDRESS", "valueFrom": "${order-notification-secret-email-sender-address}"},
      { "name": "DISPATCH_DAYS", "valueFrom": "${order-notification-secret-dispatch-days}"},
      { "name": "DYNAMIC_LLP_CERTIFICATE_ORDERS_ENABLED", "valueFrom": "${order-notification-secret-llp-enabled}"},
      { "name": "DYNAMIC_LP_CERTIFICATE_ORDERS_ENABLED", "valueFrom": "${order-notification-secret-lp-enabled}"}
    ]
  }
]